:root {
    --main--color: rgb(16, 156, 235);
    --secondary--color: rgb(2, 139, 219);
}

body {
    font-family: 'Inconsolata', monospace;
    background-color: var(--main--color);
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    color: white;
}

li:first-child {
    font-size: 26px;
}

li {
    line-height: 40px;
    font-weight: 200;
    letter-spacing: 2px;
}

h4 {
    font-family: 'Smooch Sans', sans-serif;
}

.links li:hover,
.links li:focus {
    padding-left: 5px;
    border-left: 4px solid white;
    width: fit-content;
}

li:first-child:hover,
li:first-child:focus {
    padding-bottom: 0;
    border: none;
}

u {
    padding-bottom: 5px;
    text-decoration: none;
    border-top: 4px solid white;
}

div p {
    font-family: 'Montserrat', sans-serif;
    max-width: 60ch;
    line-height: 30px;
}

.btn {
    display: block;
    width: fit-content;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    background-color: white;
    color: var(--main--color);
    padding: 10px 30px;
}

.btn:hover,
.btn:focus {
    transform: scale(1.05);
    color: var(--secondary--color);
}

.header,
.content-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    place-items: center;
}

.header {
    height: 100px;
}

header img {
    display: block;
    margin: 0 auto;
}

footer,
.featured {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.featured {
    margin: 0 auto;
}

.featured img {
    max-width: 100%;
}

footer {
    max-width: 900px;
    margin: 200px auto 0px;
}


footer div {
    text-align: right;
}

.content-box {
    max-width: 900px;
    margin: 100px auto;
    flex-wrap: wrap;
}

.content-box p {
    margin: 20px;
    width: 45ch;
}

.content-box img {
    max-width: 300px;
    border-radius: 10px;
    z-index: 2;
}

.hero-box {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin: 0 auto;
}

.hero-box img,
span img {
    max-width: 350px;
    padding: 0;
    margin: 0;
    align-items: left;
    border-radius: 4px;
}

section h1 {
    display: block;
    margin: 200px auto 50px;
    text-align: center;
    font-size: 4rem;
}

.films {
    max-width: 1000px;
    margin: 0 auto;
}

.films img {
    max-width: 400px;
    margin: 10px;
    border-radius: 4px;
}

.textbox h2 {
    font-family: 'Smooch Sans', sans-serif;
    font-size: 3rem;
}

.textbox h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

mark {
    background-color: var(--secondary--color);
    color: white;
}

.textbox {
    text-align: right;
    padding-right: 50px;
}

span {
    display: inline;
}